.window{
    width:300px;
    height:400px;
    border:1px solid black;
    
    
}
.raw-first{

}
.screen {
    height: 10%;
    display: flex;
    
    background-color: black;
    color: white;
    font-size: 29px;
    text-align:right;
}
.raw-second {
    height: 18%;
    display: flex;
    align-items: stretch;
    
}
.raw-third{
    height:18%;    
    display:flex;
    align-items:stretch;
}
.raw-fourth {
    height: 18%;
    display: flex;
    align-items: stretch;
}
.raw-fifth {
    height: 18%;
    display: flex;
    align-items: stretch;
}
.raw-sixth {
    height: 18%;
    display: flex;
    align-items: stretch;
}
.clear {
    width: 50%;
    background-color: lightgray;
    font-size: 20px;
}
.calc {
    width: 25%;
    background-color: lightgray;
    font-size: 20px;
}
.process {
    width: 25%;
    background-color: goldenrod;
    font-size: 20px;
}
.zero{
    width:75%;
}
button:hover{
    background-color:burlywood;
}
.calc.backshift{
    width:50%;
}